<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/about/">About</a></li>
  <li><a href="{{ root_url }}/tools/">Tools</a></li>
  <li><a href="{{ root_url }}/project/">Project</a></li>
  <li><a href="{{ root_url }}/help/">Help</a></li>
  <li><a href="{{ root_url }}/contact/">Contact</a></li>
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <li><a href="http://github.com/fishlamp/FishLamp">Code</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
