<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/about.html">About</a></li>
  <li><a href="{{ root_url }}/tools.html">Tools</a></li>
  <li><a href="{{ root_url }}/project.html">Project</a></li>
  <li><a href="{{ root_url }}/help.html">Help</a></li>
  <li><a href="{{ root_url }}/contact.html">Contact</a></li>
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <li><a href="http://github.com/fishlamp/FishLamp">Code</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
