<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{{ page.title }}</title>
        
    <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">


    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script>

    	function assert(obj, str) {
    		if(!obj) {
				console.log(str);
    		}
    	}
    
// 		var github = new Github({ username: "mybuildbot" });
// 		assert(github, "github not loaded");
// 		
// //     		console.log(github().API_URL);
// 		
// 		var user = github.getUser();
// 		assert(user, "user not loaded");

    	
    	
    
    	function showStatus() {
    	
			var github = new Github({ token: "56507e38fe143f52a38b9408d52e15a9616bac20" });
			assert(github, "github not loaded");
	
		//     		console.log(github().API_URL);
	
			var user = github.getUser();
			assert(user, "user not loaded");

			var repo = github.getRepo("fishlamp-objc", "fishlamp-core");
	
			repo.read("build-status", "last.json", function(err, file) {
				if(err) {
					console.log(err);
				}
				else {
				
					var buildStatus = jQuery.parseJSON(file);
				
					document.getElementById("repo-status-box").innerHTML = buildStatus.result.tag + "<br/><img src=\"" + buildStatus.result.url + "\"/>";
    		
				}
			});    	
    	
			return;
    	
			var github = new Github({ token: "56507e38fe143f52a38b9408d52e15a9616bac20" });
			assert(github, "github not loaded");
    		
//     		console.log(github().API_URL);
    		
			var user = github.getUser();
			assert(user, "user not loaded");
			
			
			function showReposForOrg(org) {
				document.getElementById("repo-links").innerHTML = "loading repos...";
    	
				user.orgRepos(org.login, function(err, repos) {
					document.getElementById("repo-links").innerHTML =  "<h4><a href=\"" + org.html_url + "\">" + org.name + "</a>" + " repos:" + "</h4>"; 
					if(!err) {
						var list = document.getElementById("repo-links").innerHTML;
						for(var i = 0; i < repos.length; i++) {
							var r = repos[i];
							
							if(r.name.indexOf("fishlamp") >= 0) {
								list += "<div class=\"repo-link\"><a href=\"" + r.url + "\">" + r.name + "</a></div>";
							}
						}
				
						document.getElementById("repo-links").innerHTML=list;
					}
					else {
						console.log(err);
					}
				});
			}
			
			function showOrg(orgName) {
    			github.getOrg(orgName, function(err, org) {
    				if(!err) {
    					showReposForOrg(org);
    				}
    				else {
    					console.log(err);
    				}
     			});
    		}
    		
    		showOrg("fishlamp-objc");
			
			
// 			alert("hello");
// 
//     		repo.API_URL = "https://github.paypal.com/api/v3/";
//     		alert(repo.API_URL);
//     		
    		
    		
    	}
    </script>
  </head>
  <body onload="showStatus()">
    <div class="wrapper">
      <header>
      
        <h1 class="title"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
		<p>{{ content }}</p>

		<div id="repo-links">
		
		</div>

		<br/>

		<h4>Announcements:</h4>
		<ul class="posts">
			{% for post in site.posts %}
			  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
		
      </header>
      <section>
		<div id="repo-status-box"></div>
		<div id="images"></div>
<script>
(function() {



// 	var result = "https://raw.github.com/fishlamp-objc/fishlamp-core/build-status/history/2013-11-29-15-19-33.json";
// 	$.getJSON(result, {})
// 		.done(function(data) {
// 			console.log(data.id)
// 		});


//   var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
//   $.getJSON( flickerAPI, {
//     tags: "mount rainier",
//     tagmode: "any",
//     format: "json"
//   })
//     .done(function( data ) {
//       $.each( data.items, function( i, item ) {
//         $( "<img>" ).attr( "src", item.media.m ).appendTo( "#images" );
//         if ( i === 3 ) {
//           return false;
//         }
//       });
//     });

})();
</script>
		
	  </section>
      
      <footer>
        <p>This project is maintained by <a href="https://https://github.com/fishlamp">FishLamp</a></p>

            <div class="contact">
              <p>
                <a href="https://github.com/mikefullerton">Mike Fullerton</a><br />
              </p>
            </div>
        
      </footer>
    </div>
<!--     <script src="{{ site.baseurl }}scripts/scale.fix.js"></script> -->
	<script src="{{ site.baseurl }}submodules/github/lib/underscore-min.js"></script>
	<script src="{{ site.baseurl }}submodules/github/lib/base64.js"></script>
    <script src="{{ site.baseurl }}submodules/github/github.js"></script>
	<script src="{{ site.baseurl }}scripts/status-display.js"></script>

    
  </body>
</html>